//Colores
$color-amarillo: #C9C423;
$color-azul: #106CAF;
$color-verde: #0EC232;
$color-negro: #2D2D2D;

//Reset
* {
    padding: 0px;
    margin: 0px;
    color: $color-negro;
}

ul{
    list-style: none;
}

#container {
    background-color: $color-azul;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    grid-template-areas:
        "topx"
        "midx"
        "botx";

    header {
        grid-area: topx;
        background-color: whitesmoke;
        vertical-align: middle;
        display: flex;
        #logox {
            width: auto;
            height:75px;
            margin-top: 7px;
            margin-left: 32px;
        }
    }

    main {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        //border-bottom: 4px solid $color-verde;
        //border-top: 4px solid $color-verde;
        
        grid-area: midx;
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "selector mapa";

        #contSelector {
            grid-area: selector;
            display: grid;
            height: 100%;
            padding-left: 25px;
            grid-template-columns: 1fr;
            grid-template-rows: 0.1fr 0.5fr 0.3fr 0.1fr;
            grid-template-areas:

                "titulo"
                "texto"
                "lista"
                "metrica";

            #texto{
                grid-area: texto;
                font-size: 22px;
                color: whitesmoke;
            }
            #lista {
                grid-area: lista;
                display: grid;
                grid-template-columns: 0.5fr 0.5fr;
                grid-template-rows: 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.1fr;
                column-gap: 6px;
            }

            h3 {
                grid-area: titulo;
                color: whitesmoke;
                width: 100%;
            }

            #contMetrica {
                grid-area: metrica;
                width: 100%;
                padding-top: 100px;
            }
        }

        #contMapa {
            grid-area: mapa;
            display: grid;
            padding-left: 80px;
            padding-right: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 0.05fr 0.9fr 0.05fr;
            grid-template-areas:
                "mapTitle"
                "mapBody"
                "mapRange";
            #mapTitle{
                color: whitesmoke;
            }
            #map {
                grid-area: mapBody;
                border-radius: 20px 20px 20px 20px;
            }
            #slidecontainer {
                display: flex;
                justify-content: center;
                text-align: center;
                input {
                    margin: auto;
                }
            }



            #contData {
                height: 250px;
                width: 230px;
                background-color: lightgrey;
                border-radius: 20px 20px 20px 20px;
                -moz-border-radius: 25px 25px 25px 25px;
                -webkit-border-radius: 25px 25px 25px 25px;
                border: 1px solid $color-amarillo;
                position: absolute;
                padding: 5px;
                bottom: 3%;
                left: 2%;
                display: grid;
                grid-template-columns: 0.5fr 0.5fr;
                grid-template-rows: 0.1fr 0.1fr 0.8fr;
                grid-template-areas:
                    "titulo titulo"
                    "year year"
                    "listaPaises listaMetricas"
                    "escala escala";

                #escala {
                    grid-area: escala;
                    text-align: center;
                }

                
                ul{
                    font-size: 16px;
                    display: flex;
                    align-items: stretch;
                    flex-direction: column;
                    justify-content: center;
                }

                #listaPaises {
                    grid-area: listaPaises;
                    padding-left: 15%;
                }

                #listaMetricas {
                    grid-area: listaMetricas;
                    padding-left: 20px;
                }

                h4 {
                    grid-area: titulo;
                    text-align: center;
                    font-size: 18px;
                    
                }

                #dataYear {
                    grid-area: year;
                    text-align: center;
                    font-size: 18px;
                }

                p,
                li,
                h5 {
                    color: $color-negro;
                }
            }
        }

        #slidecontainer {
            background-color: none;

            .slider {
                width: 75%;
                height: 15px;
                border-radius: 5px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #04AA6D;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #04AA6D;
                cursor: pointer;
            }
        }
    }

    footer {
        grid-area: botx;
        background-color: whitesmoke;
        border-top: 4px solid $color-azul;
        display: flex;
        justify-content: center;
        p{
            margin:auto
        }
    }
}

label{
    color: whitesmoke;
    font-size: 18px;
}

.jvm-legend {
    display: none;
}

.botonito {
    text-align: center;
    
    button {
    display: inline-block;
    border: 1px solid $color-amarillo;
    font-size: 16px;
    padding: 5px 0px;
    margin: 3px auto ;
    width:  100%;
    text-align: center;
}}