<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datalife API</title>
  <link rel="shortcut icon" href="{{url_for('static', path='/img/datalife_favicon.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsvectormap/dist/css/jsvectormap.min.css" />
  <link rel="stylesheet" href="{{url_for('static', path='/css/styles.css')}}">
  <script src="https://cdn.jsdelivr.net/npm/jsvectormap"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsvectormap/dist/maps/world.js"></script>
  <script>
    var map = new jsVectorMap({
      selector: "#map",
      map: "world",
      regionStyle: {
        initial: {
          fill: 'grey'
        }
      },
      series:{
        markers: [{
          attribute: 'image',
          legend: {
            title: 'Some title!',
            vertical: true
          },
          scale: {
            marker1title: {
              url: '../assets/images/marker.png',
              offset: [10, 0]
            },
            marker2title: {
              url: '../assets/images/marker2.png',
              offset: [0, 0]
            }
          },
          values: {
            0: 'marker1title',
            1: 'marker2title',
            2: 'marker2title',
            3: 'marker1title',
          }
        }],


        regions: [{
          attribute: 'fill',
          legend: {
            title: 'Something',
          },
          scale: {
            scale1: 'red',
            scale2: 'blue',
            scale3: 'green',
          },
          values: {
            US: 'scale1',
            EG: 'scale2',
            IT: 'scale3',
            BR: 'scale2',
          }
        }]
      }
    });
  </script>
</head>

<body>
  <div id="container">
    <header>
      <h1>DataLife</h1>
    </header>
    <main>
      <div id="selector">
        <h3>Paises con STDEV > 2.5(Esperanza de vida)</h3>
        <ul>
          <li>{{pais0}}</li>
          <li>{{pais1}}</li>
          <li>{{pais2}}</li>
          <li>{{pais3}}</li>
          <li>{{pais4}}</li>
          <li>{{pais5}}</li>
          <li>{{pais6}}</li>
          <li>{{pais7}}</li>
        </ul>
        <div id = 'selectorMetrica'>
          <label for="metrica">Metrica</label>
          <select name="metrica">
            <option value="value1">Metrica 1</option>
            <option value="value2" selected>Metrica 2</option>
            <option value="value3">Metrica 3</option>
          </select>
        </div>
      </div>
      <div id="mapa">
        <div id="map">
        </div>
        <div id="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
      </div>
    </main>
    <footer>
      <p></p>
    </footer>
  </div>
</body>

</html>